*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    
}

.container{
    height: 100vh;
    width: 100%;
    background: linear-gradient(
        45deg,
        #640c41,
        #3b013f,
        #0f053b,
        #011e5b
    );
    background-size: 150%;
    animation: color 3s ease-in-out infinite alternate;
}

@keyframes color{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 50% 100%;
    }
    100%{
        background-position: 100% 0%;
    }
}
.container .header{
    display: flex;
    align-items: center;
    gap: 50px;
    position: relative;
    top: 10%;
    left: 50%;
    color: #fff;
    text-align: center;
}
.container .header .nav{
    position: relative;
    color: #fff;
    text-align: center;
}

.container .middle1{
    position: absolute;
    top: 75%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: #fff;
    
}

.container .middle1 img{
    position: absolute;
    height: 450px;
    width: 400px;
    top: 20px;
    left: 1020px;
    border-radius: 50%;
    border:#ffffff 5px solid; 
    font-size: 2rem;
}

.container .middle1 h1{
    font-size: 4.5rem;
    font-family: 'Mukta', sans-serif;
    text-align: left;
    letter-spacing: 5px;
    position: relative; 
    top: 0%;
    left: 100px
}

.container .middle1 p{
    font-size: 1.5rem;
    font-family: 'Mukta', sans-serif;
    text-align: left;
    letter-spacing: 2px;
    position: relative; 
    top: 0%;
    left: 100px
}

.container .middle1 .btn{
    position: relative;
    top: 0%;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    color: #000000;
    font-size: 1.5rem;
    font-family: 'Mukta', sans-serif;
    padding: 10px 10px;
    border-radius: 30px;
    /* border: 2px solid #adadad; */
    background: transparent;
    width: fit-content;
    transition: all 0.3s ease;

    
}

.container .middle1 .btn .btn1{
    position: relative;
    top: 0%;
    left: 0px;
    text-decoration: none;
    color: #ffffff;
    font-size: 0.8rem;
    font-family: 'Mukta', sans-serif;
    padding: 10px 20px;
    border-radius: 10px;
    border: 0.5px solid #29082e;
    background: #29082e;
    width: fit-content;
    transition: all 0.3s ease;
    
}

.container .middle1 .btn .btn2, .btn3, .btn4{
    position: relative;
    top: 0%;
    left: 0px;
    text-decoration: none;
    color: #ffffff;
    font-size: 0.8rem;
    font-family: 'Mukta', sans-serif;
    padding: 10px 20px;
    border-radius: 10px;
    border: 0.5px solid #29082e;
    background: #29082e;
    width: fit-content;
    transition: all 0.3s ease;
    
}



.container .middle1 .btn .btnarr{
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: none;
    color: #ffffff;
    font-size: 0.8rem;
    font-family: 'Mukta', sans-serif;
    padding: 10px 3px 10px 10px;
    border-radius: 10px;
    border: 0.5px solid #29082e;
    background: #29082e;
    height: 42px;
    transition: 0.3s ease all;
    overflow: hidden;
    
}





.container .middle1 .btns{
    position: relative;
    top: -2%;
    left: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
    font-family: 'Mukta', sans-serif;
    padding: 10px 20px;
    border-radius: 30px;
    width: fit-content;
    transition: all 0.3s ease;
    overflow: hidden;
    
}

.container .middle1 .btns .btn5, .btn6, .btn7{
    position: relative;
    top: 0%;
    left: 0px;
    text-decoration: none;
    color: #ffffff;
    font-size: 0.8rem;
    font-family: 'Mukta', sans-serif;
    padding: 10px 20px;
    border-radius: 50%;
    border: 0.5px solid #29082e;
    background: #29082e;
    height: 48px;
    width: 50px;
    /* display: flex; */
    transition: all 0.3s ease;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
}
.btn5:hover, .btn6:hover, .btn7:hover{
    background: #fff;
    
}

.btn5 .fa:hover, .btn6 .fa:hover, .btn7 .fa:hover{
    color: #29082e;
}



.btn5 .fa,
.btn6 .fa,
.btn7 .fa {
    font-size: 24px; /* Change this value to adjust the icon size */
    color: #ffffff;
    transition: all 0.3s ease;
    margin-left: -5.5px;
    

}

.container .middle2{
    position: absolute;
    top: 185%;
    left: 50%;
    height: 170%;
    width: 101%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    background: #29082e;
    overflow: hidden;
    
}

.container .middle2 h1{
    position: relative;
    font-size: 3.5rem;
    font-family: 'Mukta', sans-serif;
    text-align: left;
    letter-spacing: 5px;
    position: relative; 
    top: 5%;
    left: 100px
}

.container .middle2 .line{
    position: relative;
    top: 5%;
    left: 100px;
    height: 5px;
    width: 100px;
    background: #ffffff;
    border-radius: 10px;
}

.container .middle2 .rect{
    position: relative;
    top: 40%;
    left: 150px;
    height: 20px;
    width: 1200px;
    background: #adaaab;
    border-radius: 10px;
}

.container .middle2 .sc1{
    position: relative;
    top: 38%;
    left: 320px;
    height: 20px;
    width: 40px;
    transform: translate(-50%, -50%);
    border-radius: 150px 150px 0 0;
    background: #adaaab;
    /* border-radius: 10px; */
}
.container .middle2 .sc11{
    position: relative;
    top: 10%;
    left: 195px;
    height: 250px;
    width: 250px;
    /* transform: translate(-50%, -50%); */
    /* border: #4a1451; */
    border-radius: 10px;
    background: #4a1451;
    /* border-radius: 10px; */
}

.container .middle2 .sc11 h2{
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 1rem;
    font-family: 'Mukta', sans-serif;
    text-align: center;
    letter-spacing: 2px;
    position: relative; 
    
}

.container .middle2 .sc11 h4{
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 0.8rem;
    font-family: 'Mukta', sans-serif;
    text-align: center;
    letter-spacing: 2px;
    position: relative;
}

.container .middle2 .sc11 p{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 0.8rem;
    font-family: 'Mukta', sans-serif;
    text-align: center;
    letter-spacing: 5px;
    position: relative; 
    
}

.container .middle2 .sc2{
    position: relative;
    top: 18%;
    left: 740px;
    height: 20px;
    width: 40px;
    transform: translate(-50%, -50%);
    border-radius: 0 0 150px 150px;
    background: #adaaab;
    /* border-radius: 10px; */
}

.container .middle2 .sc21{
    position: relative;
    top: 21.5%;
    left: 610px;
    height: 250px;
    width: 250px;
    /* transform: translate(-50%, -50%); */
    border-radius: 10px;
    background: #4a1451;
    /* border-radius: 10px; */
}
.container .middle2 .sc3{
    position: relative;
    top: -7%;
    left: 1175px;
    height: 20px;
    width: 40px;
    transform: translate(-50%, -50%);
    border-radius: 150px 150px 0 0;
    background: #adaaab;
    /* border-radius: 10px; */
}

.container .middle2 .sc31{
    position: relative;
    top: -35%;
    left: 1050px;
    height: 250px;
    width: 250px;
    /* transform: translate(-50%, -50%); */
    border-radius: 10px;
    background: #4a1451;
    /* border-radius: 10px; */
}

.sc11:hover, .sc21:hover, .sc31:hover{
    /* background: #e79cf3; */
    color: white;
    box-shadow: 0 5px 15px #c800ff;
}
